body {
	margin: 0;
	padding: 0;
}
#container {
	width: 100%;
	margin: 0;
	padding: 0;
}
#hero {
	width: 100vw;
	height: 100vh;
	background-image: url("../img/hero-1.jpg");
}
#program-squares {
	width: 100%;
}
.p-square {
	width: calc(25vw - 10px);
	height: calc(25vw - 10px);
	background-color: blue;
	margin-right: 10px;
	float: left;

}
