
/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 18px;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*Colors*/
.cream {color: #E3DBCA;}
.brown {color: #5C4637; border-color: #5C4637;}
.comp-main {color: #104A66; border-color: #104A66;}
.comp-sec {color: #007698;}
.dr-main {color: #4E6134; border-color: #4E6134;}
.dr-sec {color: #799B3D;}
.dr-tert {color: #DCDDC3; border-color: #DCDDC3;}
.ad-main {color: #7D301D; border-color: #7D301D;}
.ad-sec {color: #F47B38;}
.out-main {color: #B67529; border-color: #B67529;}
.out-sec {color: #FDBF56;}
.cream-bg {background-color: #E3DBCA;}
.brown-bg {background-color: #5C4637;}
.comp-main-bg {background-color: #104A66;}
.comp-sec-bg {background-color: #007698;}
.dr-main-bg {background-color: #4E6134;}
.dr-sec-bg {background-color: #799B3D;}
.dr-tert-bg {background-color: #DCDDC3;}
.ad-main-bg {background-color: #7D301D;}
.ad-sec-bg {background-color: #F47B38;}
.out-main-bg {background-color: #B67529;}
.out-sec-bg {background-color: #FDBF56;}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998rem;
  font-weight: 900;
}

h2 {
    margin-top: 0;
    padding-top: 0;
    font-size: 2.827rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    text-align: center;
}

h3 {font-size: 1.999rem; font-family: 'Noto Serif', serif;}

h4 {font-size: 1.414rem;}

small, .font_small, li {font-size: 0.707rem;}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #E3DBCA;
    color: #5C4637;
    box-sizing: border-box;
}
#container {
    width: 100vw;
    padding: 0;
    margin: 0;
}
header#desktop {
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #5C4637;
    z-index: 10;
}
#desktop .nav-logo {
    padding: 0 0 0 20px;
    color: white;
    float: left;
}
.nav-logo p .type-logo {
    font-weight: bold;
    padding: 0;
    margin: 0;
    line-height: 0;
}
.nav-logo p .type-logo a {
    cursor: pointer;
    color: #E3DBCA;
    text-decoration: none;
}
#desktop .nav-menu {
    float: right;
    padding: 7px 20px 0 0;
}
.nav-menu ul {
    list-style: none;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.nav-menu ul li {
    float: left;
    padding: 0 10px;
}
.nav-menu ul li a {
    /*-webkit-transition: all .3s ease;*/
    /*transition: all .3s ease;*/
    cursor: pointer;
    color: #E3DBCA;
    text-decoration: none;
}
.nav-menu ul li a:hover {
    color: #E3DBCA;
    border-bottom: 2px solid #E3DBCA;
}
.nav-menu ul li a.active {
    border-bottom: 2px solid #E3DBCA;
}
header #mobile {
    display: none;
}
#hero {
    width: 100vw;
    height: calc(100vh - 60px);
    margin: 60px 0 0 0;
    background-color: dodgerblue;
    background: url(../img/cao-hero.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#hero-logo {
    position: relative;
    margin: 0 auto;
    top: calc((100vh - 300px) / 2);
    text-align: center;
    color: #E3DBCA;
}
#hero-logo h1 {
    font-family: 'Noto Serif', serif;
    font-size: 5rem;
    margin-bottom: 0;
    padding-bottom: 0;
}
#hero-logo h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    padding-top: 0;
    margin-top: 0;
}
#assessment {background-image: url(../img/cao-assessment.jpg);}
#advisory {background-image: url(../img/cao-advisory.jpg);}
#compliance {background-image: url(../img/cao-compliance.jpg);}
#dispute-resolution {background-image: url(../img/cao-disputeresolution.jpg);}
#outreach{background-image: url(../img/cao-outreach.jpg);}
.process-hero {
    width: 100vw;
    height: calc(100vh - 60px);
    margin: 60px 0 0 0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.process-hero-logo {
    position: absolute;
    bottom: 40px;
    border-bottom: 4px solid;
    left: 40px;
    background: none;
}
.process-hero-logo h1 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin: 0;
    padding: 0;
}

#main-content {
    width: 100vw;
}
#snapshot-content {
    width: 100vw;
    padding-top: 60px;
}
#introduction {
    width: 80vw;
    margin: 0 auto;
    padding: 100px 0;
}
#process-introduction {
    width: 80vw;
    margin: 0 auto;
    padding: 25px 0;
}
.text {
    
}
.text img {
    width: 40vw;
    padding-right: 20px;
    /*position: relative;*/
    right: 300px;
}
.text h3 {
    margin: 0 20vw 0 20vw;
    text-align: left;
    text-transform: none;
    font-weight: bold;
    padding-bottom: 1.4rem;
}
.text h5 {
    margin: 0 20vw 0 20vw;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: .5rem;
    border-bottom: 2px dotted;
}
.text p {
    margin: 0 20vw;
    padding-bottom: 1.4rem;
}
.text p.intro {
    font-weight: 700;
    font-size: 1rem;
}
.bio {
    width: 40vw;
    margin: 0 auto;
}
.bio-image {
    width: calc(55% - 20px);
    float: left;
    margin: 0 20px 0 0;
}
.bio-image img {
    width: 100%;
}
.bio-meta {
    width: 45%;
    float: left;
}
.bio-meta ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
}

#process {
    width: 100vw;
    background-color: #5C4637;
    color: #E3DBCA;
    padding: 100px 0;
}
#process-graphic {
    width: 80vw;
    margin: 0 auto;
    overflow: scroll;
}
#process-graphic img {
    width: auto;
    height: 100%;
}
#process-icons {
    width: 80vw;
    padding-top: 100px;
    margin: 0 auto;

}
.icon {
    width: calc(20% - 4px);
    height: calc(20% - 4px);
    float: left;
    /*background-color: #E3DBCA;*/
    border: 2px solid #5C4637;
    cursor: pointer;
    transition: background-color ease .5s;
}
#pi-1:hover, #pi-2:hover {
    background-color: #C7C4BA;;
}
#pi-3:hover, #pi-4:hover, #pi-5:hover {
    background-color: #799B3D;
}
#pi-6:hover, #pi-7:hover, #pi-8:hover {
    background-color: #007698;
}
#pi-9:hover {
    background-color: #F47B38;
}
#pi-10:hover {
    background-color: #FDBF56;
}
.pi-1-close, .pi-2-close, .pi-3-close, .pi-4-close, .pi-5-close, .pi-6-close, .pi-7-close, .pi-8-close, .pi-9-close, .pi-10-close {
    cursor: pointer;
}
.icon img {
    max-width: 100%;
}
.icon-info {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    overflow-y: scroll;
}
.icon-link a {
    text-decoration: none;
}
.icon-link a:hover {
    text-decoration: none;
}
.scrollLock {overflow: hidden;}
#snapshot {
    width: 100vw;
    padding: 100px 0;
}
#snapshot-map {
    width: 100vw;
    padding: 0 0 100px;
}
#case-map {
    width: 80vw;
    margin: 0 auto;
}
.process-snapshot {
    width: 80vw;
    height: 400px;
    margin: 0 auto;
    border: 2px dotted;
}
.process-snapshot img {
    width: 100%;
}
#section-a, #section-b, #section-c {
    width: 80vw;
    margin: 0 auto;
    padding: 0 0 25px 0;
}
span.box-1-callout, span.box-2-callout, span.icon-link {
    font-family: 'Noto Serif', serif;
    font-style: italic;
    border-bottom: 2px dotted;
    font-weight: 700;
    font-size: .8rem;
}
.tgdco-button {
    text-transform: uppercase;
    letter-spacing: .05em;
    text-align: right;
}
.tgdco-button:hover {
    border-bottom: 2px solid;
}
.tgdco-close {
    position: relative;
    right: 0;
    cursor: pointer;
}
.tgdco-open{left:0px !important;}
.tgdco-transition{
  -webkit-transition: left 0.3s ease-out;  
     -moz-transition: left 0.3s ease-out;  
       -o-transition: left 0.3s ease-out;  
          transition: left 0.3s ease-out; 
}
#box-1, #box-2 {
    position: fixed;
    left: -100%;
    width: 100%;
    overflow-y: scroll;
    z-index: 100;
}
.icon-info .context-text {
    padding: 50px 20vw;
}
.context-text {
    padding: 50px 100px;
    font-family: 'Lato', sans-serif;
    font-size: .8rem;
}
.context-text p {
    margin: 0;
    padding-bottom: 1rem;
}
.context-text p:last-of-type {
    padding: 0;
}
.context-text h3 {
    margin: 0;
    padding-bottom: 1.3rem;
}
.page-break {
    width: 100vw;
    overflow: hidden;
    margin-bottom: 25px;
}
.page-break-img {
    width: 100%;
}
#infographics-container {
    width: 80vw;
    margin: 0 auto;
    padding: 50px 0;
}
.infographic {
    height: 40vw;
    width: 40vw;
    float: left;
    cursor: pointer;
}
.infographic:hover {
    opacity: .7;
}
.background-container {
    width: 100vw;
}
#budget {
    width: 80vw;
    margin: 50px auto;
}
footer {
    width: 100vw;
    height: 300px;
    background-color: #5C4637;;
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
.left {float:left;}
.right {float:right;}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
