
/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 16px;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px dotted black;
    margin: 1em 0;
    padding: 0;
}
hr.column-hr {
    margin: 25px 20vw;
    /*padding: 0 30vw; */
}

hr.divider-hr {
    margin: 0 10vw;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*Colors*/
.white {color: white; border-color: white;}
.black {color: black; border-color: black;}
.brown {color: #5C4637; border-color: #5C4637;}
.mid-grey{color: #C4BFB9; border-color: #C4BFB9;}
.grey {color: #AEA79F; border-color: #AEA79F;}
.light-grey {color: #e6e4e2; border-color: #e6e4e2;}
.comp-main {color: #104A66; border-color: #104A66;}
.comp-sec {color: #007698; border-color: #007698;}
.comp-tert {color: #B2CFD4; border-color: #B2CFD4;}
.dr-main {color: #4E6134; border-color: #4E6134;}
.dr-sec {color: #799B3D; border-color: #799B3D;}
.dr-tert {color: #DCDDC3; border-color: #DCDDC3;}
.ad-main {color: #F47B38; border-color: #F47B38;}
.ad-sec {color: #D86A3A; border-color: #D86A3A;}
.ad-tert {color: #FFE4CA; border-color: #FFE4CA;}
.out-main {color: #B67529; border-color: #B67529;}
.out-sec {color: #FDBF56; border-color: #FDBF56;}
.white-bg {background-color: white;}
.black-bg {background-color: black;}
.brown-bg {background-color: #5C4637;}
.grey-bg {background-color: #AEA79F;}
.mid-grey-bg {background-color: #C4BFB9;}
.light-grey-bg {background-color: #e6e4e2}
.comp-main-bg {background-color: #104A66;}
.comp-sec-bg {background-color: #007698;}
.comp-tert-bg {background-color: #B2CFD4;}
.dr-main-bg {background-color: #4E6134;}
.dr-sec-bg {background-color: #799B3D;}
.dr-tert-bg {background-color: #DCDDC3;}
.ad-main-bg {background-color: #F47B38;}
.ad-sec-bg {background-color: #D86A3A;}
.ad-tert-bg {background-color: #FFE4CA;}
.out-main-bg {background-color: #B67529;}
.out-sec-bg {background-color: #FDBF56;}
.texture{background: url(../img/texture.png) no-repeat top right;}



/*links*/

a {transition: color .5s ease; cursor: pointer;}
a:hover {color: black;}
.nav-logo a {text-decoration: none;}
.nav-menu ul li a {
    color: white;
    text-decoration: none;}
.nav-menu ul li a:hover {
    color: white;
    border-bottom: 2px solid white;}
.nav-menu ul li a.active {border-bottom: 2px solid white;}
.icon a, .icon a:visited {
    text-decoration: none;
    color: white;
    transition: all .5s ease;}
.icon a:hover {
    text-decoration: none;
    color: white;}
#process .icon a {
    text-decoration: none;
    border: none;}
.icon-link a, .icon-link a:visited {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 5px 10px;
    transition: all .5s ease;
}
.icon-link a:hover {
    text-decoration: none;
    background-color: white;
    color: black;
}



/*type styles*/

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;}
h1 {
    margin-top: 0;
    font-size: 3.998rem;
    font-weight: bold;
    letter-spacing: .2rem;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
h2 {
    padding: 0 0 25px 0;
    font-size: 2.827rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 0} 
h3 {
    margin: 0;
    font-size: 1.999rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0 0;
}
h3:after {
    content: '';
    text-align: center;
    display: block;
    padding-top: 15px;
    border-bottom: 2px dotted;
    width: 110px;
    margin: 0 auto;
}
#hero-logo h3.ar-2017 {font-size: 3.5rem; line-height: 1rem; padding-top: 25px; padding-bottom: 25px}
#hero-logo h3.ar-annual {font-size: 1.5rem; letter-spacing: .3rem; line-height: 1rem; font-weight: normal; padding-bottom: 5px;}
#hero-logo h3.ar-report {font-size: 1.6rem; letter-spacing: .3rem; line-height: 1.5rem; font-weight: normal;}
#hero-logo h3.ar-2017:after, #hero-logo h3.ar-annual:after, #hero-logo h3.ar-report:after {padding: 0; border: none;}
h4 {
    font-size: 1.414rem;
    font-weight: 800;}
.icon h4 {
    font-weight: normal;
    padding-top: 5px;
}
h5 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: .5rem;
    border-bottom: 2px dotted;
}
.icon h5, .process-snapshot h5 {
    text-align: center;}
h5.stat-head{font-size: 1.2rem;}
h6 {
    text-align: left;
    font-weight: bold;
    margin: .5rem 0;
    font-size: 1rem;}
p {margin-bottom: 1.3em;}
#mission .text p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 700;
    padding: 50px 0;
}
p.intro {
    font-weight: 700;
    font-size: 1.15rem;}
.process-snapshot .stat p {
    margin: 0;
    padding: 0;
    font-size: .8rem;
    letter-spacing: 1px;
    font-weight: 400;}
.process-snapshot .stat p .stat-number {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    margin: 0;
    padding: 0;}
.fa-caption{font-size: 1rem}
small, .font_small, {font-size: 0.707rem;}
.text strong, .case-highlight strong {
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 1px;}
.text span.italic {
    font-style: italic;
    font-weight: 700;
    font-size: .9rem;}
.highlight-text {
    font-size: 1rem;
    font-weight: bold;}
.highlight-number {font-size: 3rem;}
blockquote {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 700;
    display: block;
    width: 20%; /* width of overall box, variable or fixed */ 
    margin: 0;
    float: left;
    position: relative;
    margin-bottom: 15px;
    margin-right: 40px;}
.case-highlight blockquote {
    width: 100%;
    font-size: none;
    position: initial;
    margin: 5px 0 25px;
}


/*container*/

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Arimo', sans-serif;
    color: black;
    box-sizing: border-box;}
#container {
    width: 100vw;
    padding: 0;
    margin: 0;
    left: 0;}
.home-page {
    margin: 100vh 0 0;
}
#introduction {
    width: 100vw;
    margin: 100vh 0 0;
    padding: 100px 0;}
header#desktop {
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #AEA79F;
    z-index: 10;}
.nav-logo {
    padding: 8px 0 0 20px;
    color: white;
    float: left;}
.nav-menu {
    float: right;
    padding: 14px 20px 0 0;}
header#mobile {display: none;}
#hero {
    position: fixed;
    top: 0;
    z-index: -5;
    width: 100vw;
    height: calc(100vh - 60px);
    margin: 60px 0 0 0;
    background: url(../img/cao-hero.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}
#hero-logo {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: calc((100vh - 400px) / 2);
    text-align: center;
    color: white;}
#about.process-hero {background: url(../img/cao-hero-alt.jpg) no-repeat center center;}
#assessment.process-hero {background: url(../img/cao-assessment.jpg) no-repeat center center;}
#advisory.process-hero {background: url(../img/cao-advisory.jpg) no-repeat center center;}
#compliance.process-hero {background: url(../img/cao-compliance.jpg) no-repeat center center;}
#dispute-resolution.process-hero {background: url(../img/cao-disputeresolution.jpg) no-repeat center center;}
#outreach.process-hero {background: url(../img/cao-outreach.jpg) no-repeat center center;}
.process-hero {
    position: relative;
    width: 100vw;
    height: calc(100vh - 60px);
    margin: 60px 0 0 0;}
.hero-caption {
    display: none;
    background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6));
    width: calc(100% - 50px);
    padding: 15px 25px;}
.caption-close, .caption-open{padding-left: 25px;}
.show-caption{cursor: pointer;}
.process-hero-logo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;}
.process-hero-text{
    width: calc(100% - 50px);
    padding: 25px 25px;}
#advisory.process-hero, #assessment.process-hero, #compliance.process-hero, #dispute-resolution.process-hero, #outreach.process-hero {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}
#main-content {
    width: 100vw;
    padding: 25px 0 0 0;
    background-color: white;}
#snapshot-content {width: 100vw;}
#about-content {padding-top: 60px;}
.about-icons {padding: 0 20vw;}
#process-introduction {
    width: 80vw;
    margin: 0 auto;
    padding: 25px 0;}
#mission {
    background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url(../img/cao-hero-alt.jpg);
    background-repeat:  no-repeat;
    background-position:  center;
    background-attachment:  fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*height: 100vh;*/
    text-align: center;
    position: relative;
}
#mission .text {
    padding-top: 150px;
    padding-bottom: 150px;
}
#mission .text:before, #mission .text:after {
    content: '';
    text-align: center;
    display: block;
    border-bottom: 2px dotted white;
}
.case-highlight {
    width: 80vw;
    padding: 50px 10vw;}
#process {
    width: 100vw;
    padding: 25px 0 90px;}
#process .section{padding-bottom: 0;}
#process-graphic {
    width: 80vw;
    max-height: 600px;
    margin: 0 auto;
    overflow: scroll;}
#process-icons {
    width: 40vw;
    margin: 0 auto;}
.icon {
    width: 100%;
    margin-bottom: 25px;
    float: left;
    cursor: pointer;
    transition: background-color ease .5s;}
.icon:last-of-type {margin-bottom: 0;}
div.icon.brown-bg:hover {background-color: #AEA79F;}
div.icon.dr-main-bg:hover {background-color: #799B3D;}
div.icon.comp-main-bg:hover {background-color: #007698;}
div.icon.ad-main-bg:hover {background-color: #f7a273;}
div.icon.out-main-bg:hover {background-color: #FDBF56;}
#snapshot {
    width: 100vw;
    padding: 100px 0;}
#snapshot-map {
    width: 100vw;
    padding: 0 0 100px;}
#case-map {
    width: 80vw;
    margin: 0 auto;}
.section {
    width: 80vw;
    margin: 0 auto;
    padding: 50px 0;}
span.icon-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: .8rem;
    cursor: pointer;}
.tgdco-button {
    text-transform: uppercase;
    letter-spacing: .05em;
    text-align: right;}
.tgdco-button:hover {
    border-bottom: 2px solid;}
.tgdco-close {
    position: relative;
    right: 0;
    cursor: pointer;}
.tgdco-open{left:0px !important;}
.icon-info .context-text {
    padding: 50px 20vw;}
.context-text {
    padding: 25px 30vw;
    font-size: 1rem;}
.page-break, .page-hero {
    width: 100vw;
    overflow: hidden;}
.page-break-img {width: 100%;}
.page-hero-img {width: 100%;}
#infographics-container {
    width: 80vw;
    margin: 0 auto;
    padding: 0 0 50px 0;}
#snapshot-introduction {
    width: 80vw;
    margin: 0 auto;
    padding: 50px 0 0;}
.info-half {
    width: calc(50% - 50px);
    float: left;}
.info-half:last-of-type {margin-left: 50px;}
.infographic {
    height: 40vw;
    width: 40vw;
    float: left;
    cursor: pointer;}
.infographic:hover {opacity: .7;}
.background-container {width: 100vw;}
#budget {
    width: 80vw;
    margin: 50px auto;}
footer {
    width: (100vw - 50px);
    padding: 25px;
    font-size: .8rem;
    text-align: center;}
.content {
    /*width: 100%;*/
    border-top: 0;
    border-bottom: 0;
    text-align: center;}
.content .process-snapshot {
    width: 100%;
    border: none;}
.left {
    float: left;
    width: 20%;
}
.right {
    float: right;
    margin-right: 20%;
    padding-left: 25px;}
.icon-info {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    overflow-y: scroll;
    color: white;}
.icon-link {margin-top: 20px;}
.text {
    padding: 0 20vw;
}
.case-left {
    width: calc(50% - 25px);
    float: left;
    padding: 0 25px 0 0;
    margin: 0;
}
.case-right {
    width: calc(50% - 25px);
    float: left;
    padding: 0 0 0 25px;
    margin: 0;
}
.main-icon {
    position: absolute;
    right: 20vw;
    width: 100px;
}

/*images*/
.nav-logo img {width: 85px;}
#hero-logo img {
    width: 300px;
    padding-left: 30px;}
.text img {max-width: 80%; padding-left: 10%;}
.case-highlight img {max-width: 100%;}
.case-highlight img.data-image {
    max-width: 400px;
    width: 100%;}
.data-image:first-of-type {padding-bottom: 25px;}
#process-graphic img {
    width: auto;
    /*height: 100%;*/
}
#infographics-container img {max-width: 100%;}
footer img {
    width: 30px;
    padding: 0 15px;}
.content .stat img {
    width: 70%;
    padding: 0;}
.icon img {width: 100px; float: left; padding: 0 15px;}



/*lists*/
ul {
    list-style: none;
    list-style-type: none;
}
.nav-menu ul {
    font-size: .707rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;}
.nav-menu ul li {
    float: left;
    padding: 0 10px;}
footer ul {
    padding: 0;
    margin: 0;}
footer ul li {padding-bottom: 5px;}
.icon-info ol {
    padding: 0 0 0 18px;
    margin: 0;}
.icon-info ol li {font-size: 1rem;}
.icon-info ol {
    padding: 0 0 0 18px;
    margin: 0;}
.icon-info ol li {font-size: 1rem;}
.text ul {
    padding: 0;
}


/*helper styles*/

.caption {
    font-size: .8em;
    font-style: italic;}
.text .caption {
    margin: 0 10%;
}
.center {text-align: center;}
.caps {text-transform: uppercase; letter-spacing: 1px;}
.bold {font-weight: bold;}
.noClick {
    pointer-events: none;}
.tgdco-transition{
  -webkit-transition: left 0.3s ease-out;  
     -moz-transition: left 0.3s ease-out;  
       -o-transition: left 0.3s ease-out;  
          transition: left 0.3s ease-out;}
.pi-1-close, .pi-2-close, .pi-3-close, .pi-4-close, .pi-5-close, .pi-6-close, .pi-7-close, .pi-8-close, .pi-9-close, .pi-10-close {cursor: pointer;}
.scrollLock {overflow: hidden; touch-action: none;}
.noBorder {border: none;}
.top-padding {padding-top:50px;}
.no-margin, .caption.no-margin{margin: 0;}
.no-top{margin-top: 0;}
.top15{padding-top: 15px;}
.bottom25{margin-bottom: 25px;}


/*snapshot bevels*/

.bevel, .content { border-width: 15px }
.bevel, .content { border-style:solid; }

.bvc {
    width: 20%; /* width of overall box, variable or fixed */ 
    margin: 0;
    float: left;
    position: relative;
    margin-bottom: 15px;
    margin-right: 40px;
}

.bvc .tr, .bvc .tl, .bvc .br, .bvc .bl { height: 0px; /*width: 100%;*/ }
.bvc .tr, .bvc .tl { border-top: 0; }
.bvc .br, .bvc .bl { border-bottom: 0; }
.bvc .tr, .bvc .br { border-right-color: transparent; }
.bvc .tl, .bvc .bl { border-left-color: transparent; }
.no_bevel { height: 0px; width: 100%; border-bottom: 0; }




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 1024px) {
    /* Style adjustments for viewports that meet the condition */
    html{font-size: 14px;}
    .nav-menu ul {
        padding: 0px;
    }
    .nav-menu ul li {
        padding: 0 5px;
        font-size: .65rem;
    }
    .section {
        width: 100%;
        margin: 0 auto;
        padding: 50px 25px;}
    .text {
        padding: 0 25vw;
    }
    .main-icon {
        position: absolute;
        right: 45px;
        width: 100px;
    }
    blockquote {
        width: 20%;
        margin-right: 0;
    }
}

@media only screen and (max-width: 768px) {
    /* Style adjustments for viewports that meet the condition */
    html{font-size: 14px;}
    h1 {font-size: 1.8rem;}
    h2 {font-size: 1.6rem;}
    h3 {font-size: 1.4rem;}
    h4 {font-size: 1.2rem;}
    h5 {font-size: 1rem;}
    h5.stat-head{font-size: 1.1rem;}
    h6 {font-size: 1rem;}
    p {font-size: 1rem;}
    blockquote {font-size: 1.2rem;}
    #hero, .process-hero {height: 400px;}
    #hero-logo {top: 100px;}
    header#desktop {display: none;}
    header#mobile {
        display: block;
        width: 100vw;
        min-height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #AEA79F;
        z-index: 10;
    }
    #mobile .menu-bars {
        color: white;
        font-size: 24px;
        cursor: pointer;
    }
    #mobile .nav-menu {
        float: right;
        text-align: right;
        padding: 14px 20px 0 0;
    }
    .nav-menu-list {
        display: none;
    }
    #mobile .nav-menu ul li {
        float: none;
        padding: 10px 0;
        font-size: 1rem;
    }
    .menu-open {
        display: block;
    }
    #hero {
        position: initial;
        z-index: 0;
        width: 100vw;
        margin: 60px 0 0 0;
        background: url(../img/cao-hero.jpg) no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;}
    #introduction {
        width: 100vw;
        margin: 0 0 0;
        padding: 15px 0;}
    .section {
        width: calc(100vw - 50px);
        padding: 25px 0;
        margin: 0 25px;
    }
    .text {width: 100%; margin: 0; padding: 0;}
    .text img {max-width: 100%;}
    .text .caption {
        margin: 0;
    }
    #process-introduction {
        width: 100vw;
        padding: 50px;
    }
    .case-highlight {
        width: 100vw;
        padding: 25px 0;
        margin: 0;
    }
    .case-highlight .add-pad {padding-left: 25px;}
    .case-left {
        width: calc(100% - 50px);
        float: none;
        padding: 0;
        margin: 0 25px;
    }
    .case-right {
        width: calc(100% - 50px);
        float: none;
        padding: 0;
        margin: 0 25px;
    }
    #process-introduction {
        width: calc(100vw - 50px);
        padding: 25px;
    }
    #process-graphic {
        width: calc(100vw - 50px);
        margin: 0 25px;
        margin: 0 auto;
        overflow: scroll;}
    #process-graphic img {
        height: 300px;
        width: auto;
    }
    .process-hero {
        position: relative;
        width: 100vw;
        margin: 60px 0 0 0;}
    .hero-caption {
        background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6));
        width: calc(100% - 50px);
        padding: 15px 25px;}
    .process-hero-logo {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;}
    .process-hero-text{
        width: calc(100% - 50px);
        padding: 25px 25px;}
    .bvc {
        width: 200px; /* width of overall box, variable or fixed */ 
        float: left;
        margin: 0;
        background-color: white;
        padding: 0 25px 25px 0;
    }
    .left {float: none; width: 100%}
    .right {float: none; width: 100%}
    .info-half {
        width: 100%;
        float: none;}
    .info-half:last-of-type {margin-left: 0;}
    #process-icons {width: 100%;}
    .home-page{margin-top: 0;}
    blockquote {
        text-align: left;
        font-size: 1.4rem;
        line-height: 1.6rem;
        font-weight: 700;
        display: block;
        width: 100%; /* width of overall box, variable or fixed */ 
        margin: 0;
        float: none;
        position: initial;
        padding: 25px 0 0;}
    .case-highlight blockquote {
        width: 100%;
        font-size: none;
        position: initial;
        margin: 5px 0 25px;
    }
    .text img {max-width: 100%; padding-left: 0;}
    .main-icon {
        position: initial;
        width: 100px;
        float: left;
        padding: 0 25px 25px 0;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
