
/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 16px;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px dotted black;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*Colors*/
.white {color: white;}
.black {color: black;}
.brown {color: #5C4637; border-color: #5C4637;}
.grey {color: #AEA79F; border-color: #AEA79F;}
.comp-main {color: #104A66; border-color: #104A66;}
.comp-sec {color: #007698;}
.comp-tert {color: #B2CFD4;}
.dr-main {color: #4E6134; border-color: #4E6134;}
.dr-sec {color: #799B3D;}
.dr-tert {color: #DCDDC3; border-color: #DCDDC3;}
.ad-main {color: #A94D48; border-color: #A94D48;}
.ad-sec {color: #DB6943;}
.ad-tert {color: #FFE4CA;}
.out-main {color: #B67529; border-color: #B67529;}
.out-sec {color: #FDBF56;}
.white-bg {background-color: white;}
.black-bg {background-color: black;}
.brown-bg {background-color: #5C4637;}
.grey-bg {background-color: #AEA79F;}
.dark-grey-bg {background-color: #8b8176}
.comp-main-bg {background-color: #104A66;}
.comp-sec-bg {background-color: #007698;}
.comp-tert-bg {background-color: #B2CFD4;}
.dr-main-bg {background-color: #4E6134;}
.dr-sec-bg {background-color: #799B3D;}
.dr-tert-bg {background-color: #DCDDC3;}
.ad-main-bg {background-color: #A94D48;}
.ad-sec-bg {background-color: #DB6943;}
.ad-tert-bg {background-color: #FFE4CA;}
.out-main-bg {background-color: #B67529;}
.out-sec-bg {background-color: #FDBF56;}

.wordbreak {
    word-break: none;
}

a {transition: color .5s ease;}
a:hover {color: black;}
p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998rem;
  font-weight: 900;
}

h2 {
    margin-top: 0;
    padding-top: 0;
    font-size: 2.827rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    text-align: center;
}

h3 {font-size: 1.999rem;}

h4 {font-size: 1.414rem;}

small, .font_small, li {font-size: 0.707rem;}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Arimo', sans-serif;
    /*background-color: white;*/
    color: black;
    box-sizing: border-box;
}
#container {
    width: 100vw;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
}
header#desktop {
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #AEA79F;
    z-index: 10;
}
.nav-logo {
    padding: 8px 0 0 20px;
    color: white;
    float: left;
}
.nav-logo img {
    width: 85px;
}
.nav-logo a {
    cursor: pointer;
    text-decoration: none;
}
.nav-menu {
    float: right;
    padding: 14px 20px 0 0;
}
.nav-menu ul {
    list-style: none;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.nav-menu ul li {
    float: left;
    padding: 0 10px;
}
.nav-menu ul li a {
    /*-webkit-transition: all .3s ease;*/
    /*transition: all .3s ease;*/
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.nav-menu ul li a:hover {
    color: white;
    border-bottom: 2px solid white;
}
.nav-menu ul li a.active {
    border-bottom: 2px solid white;
}
header#mobile {
    display: none;
}
#hero {
    position: relative;
    width: 100vw;
    height: calc(100vh - 60px);
    margin: 60px 0 0 0;
    background-color: dodgerblue;
    background: url(../img/cao-hero.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#hero-logo {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: calc((100vh - 300px) / 2);
    text-align: center;
    color: white;
}
#hero-logo img {
    width: 300px;
    padding-left: 30px;
}
#hero-logo h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    padding-top: 0;
    margin-top: 0;
}
#assessment.process-hero {background: url(../img/cao-assessment.jpg) no-repeat center center;}
#advisory.process-hero {background: url(../img/cao-advisory.jpg) no-repeat center center;}
#compliance.process-hero {background: url(../img/cao-compliance.jpg) no-repeat center center;}
#dispute-resolution.process-hero {background: url(../img/cao-disputeresolution.jpg) no-repeat center center;}
#outreach.process-hero {background: url(../img/cao-outreach.jpg) no-repeat center center;}
.process-hero {
    position: relative;
    width: 100vw;
    height: calc(100vh - 60px);
    margin: 60px 0 0 0;
}
#advisory.process-hero, #assessment.process-hero, #compliance.process-hero, #dispute-resolution.process-hero, #outreach.process-hero {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.process-hero-logo {
    position: absolute;
    bottom: 0;
    /*border-bottom: 4px solid;*/
    left: 0;
    /*background: none;*/
    width: calc(100% - 50px);
    padding: 25px 25px 50px;
}
.process-hero-logo h1 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin: 0;
    padding: 0;
}
.process-hero-logo h4 {
    font-family: 'Arimo', sans-serif;
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
}

#main-content {
    width: 100vw;
    padding: 25px 0 0 0;
    background-color: white;
}
#snapshot-content {
    width: 100vw;
    padding-top: 60px;
}
#introduction {
    width: 80vw;
    margin: 0 auto;
    padding: 25px 0;
}
#process-introduction {
    width: 80vw;
    margin: 0 auto;
    padding: 25px 0;
}
.case-highlight {
    width: 80vw;
    padding: 100px 10vw;
}
.case-left {
    width: calc(50% - 25px);
    float: left;
    margin-right: 25px;
}
.case-right {
    width: calc(50% - 25px);
    float: left;
    margin-left: 25px;
}
.case-highlight .case-right p {
    margin-top: 0;
}
.case-highlight h3 {
    /*margin: 0 20vw 0 20vw;*/
    text-align: left;
    text-transform: none;
    font-weight: bold;
    padding-bottom: 1.4rem;
    margin-top: 0;
}
.case-highlight h4 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.case-highlight img {
    max-width: 100%;
}
.caption {
    font-size: .8em;
    font-style: italic;
}
blockquote {
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 700;
    margin: 0;
    padding: 25px 20vw 50px 20vw;
}
.case-highlight blockquote {
    padding: 25px 0;
}
.text {
    
}
.text img {
    width: 40vw;
    padding: 0 20vw 25px;
}
.text img.large {
    width: 100%;
    padding: 0 0 25px 0;
}
.text h3 {
    margin: 0 20vw 0 20vw;
    text-align: left;
    text-transform: none;
    font-weight: bold;
    padding-bottom: 1.4rem;
}
.text h5 {
    margin: 0 20vw 0 20vw;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: .5rem;
    border-bottom: 2px dotted;
}
#infographics-container h5 {
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: .5rem;
}
.text h6 {
    margin: 0 20vw 0 20vw;
    text-align: left;
    font-weight: bold;
    margin-bottom: .5rem;
    font-size: .9rem;
}
.text p {
    margin: 0 20vw;
    padding-bottom: 1.4rem;
}
.text p.intro {
    font-weight: 700;
    font-size: 1rem;
}
.context-text p.intro {
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: .5px;
}
.text strong, .case-highlight strong {
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.text span.italic {
    font-family: 'Arimo', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: .9rem;
}
.bold {font-weight: bold;}
.bio img {
    width: 100%;
}
.bio ul {
    list-style: none;
    margin: 0;
    padding: 25px 0 0 0;
}
.bio ul li {font-size: 1rem;}

#process {
    width: 100vw;
    background-color: #AEA79F;
    color: white;
    padding: 100px 0;
}
#process p.center {
    text-align: center;
}
#process-graphic {
    width: 80vw;
    margin: 0 auto;
    overflow: scroll;
}
#process-graphic img {
    width: auto;
    height: 100%;
}
#process-icons {
    width: 80vw;
    padding-top: 100px;
    margin: 0 auto;

}
.icon {
    width: calc(20% - 4px);
    height: calc(20% - 4px);
    float: left;
    /*background-color: #E3DBCA;*/
    border: 2px solid #AEA79F;
    cursor: pointer;
    transition: background-color ease .5s;
}
#pi-1:hover, #pi-2:hover {
    background-color: #C7C4BA;;
}
#pi-3:hover, #pi-4:hover, #pi-5:hover {
    background-color: #799B3D;
}
#pi-6:hover, #pi-7:hover, #pi-8:hover {
    background-color: #007698;
}
#pi-9:hover {
    background-color: #F47B38;
}
#pi-10:hover {
    background-color: #FDBF56;
}
.pi-1-close, .pi-2-close, .pi-3-close, .pi-4-close, .pi-5-close, .pi-6-close, .pi-7-close, .pi-8-close, .pi-9-close, .pi-10-close {
    cursor: pointer;
}
.icon img {
    max-width: 100%;
}
.icon-info {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    overflow-y: scroll;
}
.icon-link {
    margin-top: 20px;
}
.icon-link a, .icon-link a:visited {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 5px 10px;
    transition: all .5s ease;
}
.icon-link a:hover {
    text-decoration: none;
    background-color: white;
    color: black;
}
.icon-info ol {
    padding: 0 0 0 18px;
    margin: 0;
}
.icon-info ol li {
    font-size: 1rem;
}
.scrollLock {overflow: hidden; touch-action: none;}
#snapshot {
    width: 100vw;
    padding: 100px 0;
}
#snapshot-map {
    width: 100vw;
    padding: 0 0 100px;
}
#case-map {
    width: 80vw;
    margin: 0 auto;
}
.process-snapshot {
    width: 80vw;
    margin: 0 auto;
    padding-bottom: 35px;
    border: 2px dotted;
}
.process-snapshot h5 {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
.process-snapshot .dr-breakdown {
    width: calc((80vw / 4));
    border-right: 2px dotted;
    box-sizing: border-box;
}
.process-snapshot .dr-breakdown:last-of-type {
    border: none;
}
.process-snapshot .ast, .process-snapshot .comp-top, .process-snapshot .dr-right, .process-snapshot .dr-center, .process-snapshot .dr-left {
    width: calc((80vw / 3));
    border-right: 2px dotted;
    box-sizing: border-box;
}
.process-snapshot .dr-right {
    border: none;
}
.process-snapshot .comp-breakdown, .process-snapshot .ast-breakdown {
    width: calc((80vw / 3) * 2);
}
.process-snapshot .comp-bottom {
    width: calc((80vw / 3));
    margin-bottom: 25px;
}
.process-snapshot .comp-closed {
    width: calc((80vw / 2));
}
.process-snapshot .ast-right-top {
    width: 100%;
}
.process-snapshot .ast-right-bottom {
    width: 50%;
}
.process-snapshot .stat {
    float: left;
    text-align: center;
}
.process-snapshot .stat p {
    margin: 0;
    padding: 0;
    font-size: .8rem;
    letter-spacing: 1px;
    font-weight: 700;
}
.process-snapshot .stat p .stat-number {
    font-family: 'Arimo', sans-serif;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}
.process-snapshot .stat p .stat-text {
    font-family: 'Arimo', sans-serif;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    line-height: 3.2rem;
}
.stat img {
    width: 40%;
}
#section-a, #section-b, #section-c {
    width: 80vw;
    margin: 0 auto;
    padding: 50px 0;
}
span.box-1-callout, span.box-2-callout, span.box-3-callout, span.letter-1-callout, span.letter-2-callout {
    font-family: 'Arimo', sans-serif;
    /*font-style: italic;*/
    /*border-bottom: 2px dotted;*/
    padding: 4px 7px;
    text-transform: uppercase;
    border: 2px solid;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: .8rem;
    cursor: pointer;
    transition: background-color .5s ease;
}
span.letter-1-callout:hover, span.letter-2-callout:hover {
    background-color: #AEA79F;
}
span.box-1-callout:hover, span.box-2-callout:hover {
    background-color: #DCDDC3;
}
span.box-3-callout:hover {
    background-color: #B2CFD4;   
}
span.icon-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: .8rem;
    cursor: pointer;
}
.moveIt {
    position: absolute;
    left: 50vw !important;
}
.noClick {
    pointer-events: none;
}
.tgdco-button {
    text-transform: uppercase;
    letter-spacing: .05em;
    text-align: right;
}
.tgdco-button:hover {
    border-bottom: 2px solid;
}
.tgdco-close {
    position: relative;
    right: 0;
    cursor: pointer;
}
.tgdco-open{left:0px !important;}
.tgdco-transition{
  -webkit-transition: left 0.3s ease-out;  
     -moz-transition: left 0.3s ease-out;  
       -o-transition: left 0.3s ease-out;  
          transition: left 0.3s ease-out; 
}
#box-1, #box-2, #box-3, #letter-1, #letter-2 {
    position: fixed;
    left: -100%;
    width: 50%;
    overflow-y: scroll;
    z-index: 0;
}
.icon-info .context-text {
    padding: 50px 20vw;
}
.context-text {
    padding: 50px 100px;
    font-family: 'Arimo', sans-serif;
    font-size: 1rem;
}
.context-text p {
    margin: 0;
    padding-bottom: 1rem;
}
.icon-info .context-text p:last-of-type {
    padding: 30px 0;
}
.context-text h3 {
    margin: 0;
    padding-bottom: 1.3rem;
    font-weight: bold;
}
.context-text h5 {
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: .5rem;
    border-bottom: 2px dotted;
}
.page-break, .page-hero {
    width: 100vw;
    overflow: hidden;
    /*margin-bottom: 25px;*/
}
.page-break-img {
    width: 100%;
}
.page-hero-img {
    width: 100%;
}
#infographics-container {
    width: 80vw;
    margin: 0 auto;
    padding: 0 0 50px 0;
}
#infographics-container img {
    max-width: 100%;
}
#snapshot-introduction {
    width: 80vw;
    margin: 0 auto;
    padding: 50px 0 0;
}
.info-half {
    width: calc(50% - 50px);
    float: left;
}
.info-half:last-of-type {
    margin-left: 50px;
}
.infographic {
    height: 40vw;
    width: 40vw;
    float: left;
    cursor: pointer;
}
.infographic:hover {
    opacity: .7;
}
.background-container {
    width: 100vw;
}
#budget {
    width: 80vw;
    margin: 50px auto;
}
footer {
    width: (100vw - 50px);
    padding: 25px;
    font-size: .8rem;
}
footer h5 {
    text-transform: uppercase;
}
footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
footer ul li {
    padding-bottom: 5px;
}
footer strong {
    padding-right: 15px;
}
footer img {
    float: left;
    margin-right: 25px;
}
.contact, .more-info {
    width: calc(50vw - 37.5px);
    float: left;
}
.contact {
    margin-right: 25px;
}
.bevel, .content { border-width: 15px }
.bevel, .content { border-color: #007698; border-style:solid; }

.bvc {
    width: 20%; /* width of overall box, variable or fixed */ 
    margin: 0;
    float: left;
    position: relative;
    margin-bottom: 15px;
    margin-right: 40px;
}

.bvc .tr, .bvc .tl, .bvc .br, .bvc .bl { height: 0px; /*width: 100%;*/ }
.bvc .tr, .bvc .tl { border-top: 0; }
.bvc .br, .bvc .bl { border-bottom: 0; }
.bvc .tr, .bvc .br { border-right-color: transparent; }
.bvc .tl, .bvc .bl { border-left-color: transparent; }
.no_bevel { height: 0px; width: 100%; border-bottom: 0; }

.content {
    /*width: 100%;*/
    border-top: 0;
    border-bottom: 0;
}
.content .process-snapshot {
    width: 100%;
    border: none;
}
.content .process-snapshot .comp-top {
    width: 100%;
    border: none;
}
.content .process-snapshot .comp-breakdown {
    width: 100%;
    border: none;
    border-top: 2px dotted white;
    margin-top: 12px;
}
.content .process-snapshot .comp-bottom {
    width: 100%;
    margin-bottom: 25px;
    border: none;
}
.process-snapshot .comp-closed {
    width: 100%;
    border: none;
}
.process-snapshot h5 {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin: 25px 0 12px;
    padding-bottom: 12px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
.left {float:left;}
.right {float:right;}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 1024px) {
    /* Style adjustments for viewports that meet the condition */
    .nav-menu ul {
        padding: 0px;
    }
    .nav-menu ul li {
        /*float: left;*/
        padding: 0 5px;
        /*font-size: .65rem;*/
    }
    #box-1, #box-2, #box-3, #letter-1, #letter-2 {
        position: fixed;
        left: -100%;
        width: 75vw;
        overflow-y: scroll;
        z-index: 0;
    }
    .moveIt {
        position: absolute;
        left: 75vw !important;
    }
    .text img {
        width: 100%;
        padding: 0 0 25px 0;
    }
    .text h3, .text h5, .text h6, .text p {
        margin: 0;
    }
    .text h5 {
        margin-bottom: 1rem;
    }
    #process-introduction, #section-a, #section-b, #section-c {
        width: calc(100vw - 50px);
        padding: 25px;
    }
    .context-text {
        padding: 50px 25px;
        font-family: 'Arimo', sans-serif;
        font-size: .8rem;
    }
    .case-highlight {
        width: calc(100vw - 50px);
        padding: 25px;
    }
    .case-left {
        width: 100%;
        float: none;
        padding: 0;
        margin: 0;
    }
    .case-right {
        width: 100%;
        float: none;
        padding: 0;
        margin: 0;
    }
    .process-snapshot .dr-breakdown, .process-snapshot .ast, .process-snapshot .comp-top, .process-snapshot .dr-right, .process-snapshot .dr-center, .process-snapshot .dr-left {
        width: 90%;
        margin: 20px 5% 0;
        padding: 0 0 20px 0;
        box-sizing: border-box;
        border-right: none;
        border-bottom: 2px dotted;
    }
    .dr-breakdown:first-of-type, .process-snapshot .dr-left {
        margin-top: 0;
    }
    .dr-breakdown:last-of-type, .process-snapshot .dr-right  {
        border: none;
    }
    .process-snapshot .comp-breakdown, .process-snapshot .ast-breakdown, .process-snapshot .ast-right-top, .process-snapshot .comp-bottom, .process-snapshot .comp-closed, .process-snapshot .ast-right-bottom {
        width: 100%;
    }
    .ast-right-bottom {
        padding-bottom: 25px;
    }
    .ast-right-bottom:last-of-type {
        padding-bottom: 0;
    }
    .process-snapshot .stat {
        float: none;
        text-align: center;
    }
    .process-snapshot .stat p {
        margin: 0;
        padding: 0;
        font-size: .8rem;
        font-weight: 700;
    }
    .process-snapshot .stat p .stat-number {
        font-family: 'Arimo', sans-serif;
        font-size: 3rem;
        margin: 0;
        padding: 0;
    }
    .process-snapshot .stat p .stat-text {
        font-family: 'Arimo', sans-serif;
        font-size: 3rem;
        margin: 0;
        padding: 0;
        line-height: 3.2rem;
    }
    .stat img {
        width: 30%;
    }
}

@media only screen and (max-width: 768px) {
    /* Style adjustments for viewports that meet the condition */
    h1 {font-size: 1.6rem;}
    h3 {font-size: 1.3rem;}
    h4 {font-size: .8rem;}

    #hero, .process-hero {
        height: 400px;
    }
    #hero-logo {
        top: 100px;
    }
    header#desktop {display: none;}
    header#mobile {
        display: block;
        width: 100vw;
        min-height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #AEA79F;
        z-index: 10;
    }
    #mobile .menu-bars {
        color: white;
        font-size: 24px;
        cursor: pointer;
    }
    #mobile .nav-menu {
        float: right;
        text-align: right;
        padding: 14px 20px 0 0;
    }
    .nav-menu-list {
        display: none;
    }
    #mobile .nav-menu ul li {
        float: none;
        padding: 10px 0;
    }
    .menu-open {
        display: block;
    }
    #box-1, #box-2, #box-3, #letter-1, #letter-2 {
        position: fixed;
        left: -100%;
        width: 90vw;
        overflow-y: scroll;
        z-index: 0;
    }
    .context-text {
        padding: 25px;
    }
    .context-text p {
        font-size: 1rem;
    }
    .moveIt {
        position: absolute;
        left: 90vw !important;
    }
    .text h3, .text h5, .text h6, .text p {
        margin: 0;
    }
    .text h5 {
        margin-bottom: 1rem;
    }
    #process-introduction, #section-a, #section-b, #section-c {
        width: calc(100vw - 50px);
        padding: 25px;
    }
    .process-hero-logo {
        padding: 25px;
    }
    .process-hero-logo h4 {
        font-size: .8rem;
    }
    .contact, .more-info {
        width: 100%;
        float: none;
    }
    .contact {
        margin-right: 0;
    }
    footer img {
        margin-right: 10px;
    }
    .bvc {
        width: 100%; /* width of overall box, variable or fixed */ 
        float: none;
        margin: 0;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
