@font-face {
    font-family: 'Pressura Bold';
    src: url('gt-pressura-bold-webfont.woff2') format('woff2'),
         url('gt-pressura-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Pressura Italic';
    src: url('gt-pressura-regular-italic-webfont.woff2') format('woff2'),
         url('gt-pressura-regular-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Pressura';
    src: url('gt-pressura-regular-webfont.woff2') format('woff2'),
         url('gt-pressura-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}