/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {font-family: 'Pressura', sans-serif;}
#container {
  width: 100vw;
  margin: 0;
  padding: 0;}
body {
  font-size: 16px;
  background-color: #e0e0d8;}
#tophalf {
  width: 100vw;
  height: 300px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: -99;}
.logo-box {
  width: calc(100vw - 50px);
  height: 400px;
  margin: 25px 25px;
  background-color: #005366;
  background: url(../img/background.png); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}
#tagline {
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: -19vw;}
#logo {
  width: 200px;
  margin: 0 auto;
  padding: 115px 0;}
polygon {  
  transition: fill 1s ease}
#logo polygon {fill: rgba(255,255,255,0);}
#logo:hover polygon {fill: white;}
.cls-1,.cls-2{
  font-size: 24px;
  fill: #af8f52;
  font-weight: bold;}
#signup-form, .page-column {
  width: calc(100vw - 50px);
  margin: 0 25px;}
#signup-form {
  margin-top: -50px;
}
#footer {
  width: calc(100vw - 50px);
  margin: 50px 25px 0;
  padding: 45px 0;
  background-color: white;}
#mark {
  width: 50px;
  position: relative;
  top: 75px;
  left: 0;
  margin: 0 auto;}
.halfcolumn{
  width: 100%;
  float: left;}
#mrp{height: 20px; padding: 10px;}
#frp{height: 40px; padding: 10px;}
#ada{height: 20px; padding: 10px;}
#eho{height: 20px; padding: 10px;}
#etc-logos {
  margin: 25px 25px 0;
  padding: 25px 0 0;
  border-top: 2px solid #005366;
  text-align: center;}
h1 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  padding-top: 15px;
  color: #af8f52;
  text-align: center;
  /*text-transform: uppercase;*/
  font-size: 1rem;
  /*letter-spacing: 3.5px;*/
  /*font-weight: bold;*/}
h2 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 1rem;
  text-align: center;
  color: #005366;
  margin-bottom: 0;}
h3 {
  color: #005366;
  text-align: left;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .5px;
  padding: 0 25px;
  font-weight: normal;}
a {
  color: #005366;
  text-decoration: none;
  border-bottom: 2px solid #005366;
  transition: all ease 500ms;
  font-weight: normal;}
a:hover {
  color: #af8f52;
  text-decoration: none;
  border-bottom: 2px solid #af8f52;}
.mc-field-group label, .mc-field-group input, .indicates-required {
  width: 100%;
  font-style: italic;}
.mc-field-group input {
  background-color: rgba(0,0,0,0);
  border: none;
  color: #005366;
  border-bottom: 2px solid #005366;
  border-radius: 0;
  -webkit-border-radius: 0;
  transition: all ease 500ms;
  padding: 5px 3px;}
.mc-field-group input::placeholder {
  font-style: italic;
  font-weight: normal;
  color: #af8f52;}
.mc-field-group input:focus {
  border-bottom: 2px solid #af8f52;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;}
/*.mc-field-group input:invalid {
  border-bottom: 2px solid #dc3958;
}*/
.mc-field-group {width: 98%; margin-top: 25px;}
.mc-field-group:nth-child(even) {margin-right: 10%;}
.asterisk {color: #af8f52;}
.button {
  width: 111px;
  border: 2px solid #005366;
  border-radius: 0;
  background-color: #e0e0d8;
  color: #005366;
  margin-top: 25px;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px 25px;
  margin-top: 50px;
  cursor: pointer;
  transition: all ease 500ms;}
.button:hover {background-color: #005366; color: white;}
.leftalign {text-align: center;}
.rightalign {text-align: center;}
.keep {white-space: nowrap;}

/* ==========================================================================
   Helper classes
   ========================================================================== */


.center {text-align: center;}


/*
 * Hide visually and from screen readers
 */

.hidden {display: none !important;}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-width: 321px) {
  h1 {font-size: .7rem;}
  .desktop-only {display: none;}
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  body {
    font-size: 16px;
    background-color: #e0e0d8;}
  #tophalf {
    width: 100vw;
    height: 500px;}
  .logo-box {
    width: calc(100vw - 200px);
    height: 500px;
    margin: 25px 100px;}
  #tagline {
    width: 500px;
    top: -80px;}
  #logo {
    width: 225px;
    margin: 0 auto;
    padding-top: 160px;}
  .cls-1,.cls-2{
    font-size: 24px;}
  #signup-form, .page-column {
    width: calc(100vw - 200px);
    margin: 0 100px;}
    #signup-form {
  margin-top: -50px;
}
  #mc_embed_signup {
    width: 100%;
    margin: 0 auto;}
  #footer {
    width: calc(100vw - 200px);
    margin: 50px 100px 0;
    padding: 45px 0;}
  .mobile-only {display: none;}
  /*.desktop-only {display: block;}*/
  #mark {
    width: 50px;
    position: relative;
    top: 75px;
    left: 150px;
    margin: 0;}
  #mark:hover {
    cursor: pointer;
  }
  #mark::after {
    content: url(../img/mark.svg);
    display: block;
    width: 50px;
    height: 50px;
    background-color: none;}

  #mark.ani-trans::after {
    animation: upDown 1.5s alternate infinite ease-in-out;}

  .ani-trans {animation: translate 15s infinite linear;}

  @-webkit-keyframes upDown {
    50% { -webkit-transform: translatey(20px); transform: translatey(20px);}
  }
  @keyframes upDown {
    50% { -webkit-transform: translatey(20px); transform: translatey(20px);}
  }
  @-webkit-keyframes translate {
    50% { -webkit-transform: translatex(calc(100vw - 350px)); transform: translatex(calc(100vw - 350px));}
  }
  @keyframes translate {
    50% { -webkit-transform: translatex(calc(100vw - 350px)); transform: translatex(calc(100vw - 350px));}
  }
  .halfcolumn{
    width: 50%;
    float: left;}
  .mc-field-group {
    width: 45%;
    float: left;}
  .mc-field-group label, .mc-field-group input, .indicates-required {
    width: 96%;}
  .leftalign {text-align: left;}
  .rightalign {text-align: right;}
  .topmargin25 {margin-top: 25px;}
  h1 {font-size: 1.4rem; /*letter-spacing: 6px;*/}
  h2 {font-size: 1.6rem;}
  h3 {font-size: .9rem;}
}

@media only screen and (min-width: 768px) {
  #tagline {
    width: 700px;
    top: -110px;}
  #mc_embed_signup {
    width: 70%;
    margin: 0 auto;}
}


@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
